:root {
  --mainRevealWidth: 100%;
  --navHeight: 60px;
  --vlineWidth: 0.2vh;
  --hLineHeight: 0.2vh;
  --lineColour: #191919;
  --primaryColour: #191919;
  --secondary_colour: #090909;
  --grey: #c8c8c8;
  --desk1Container1Width: 630px; /*at a window width 1000*/
  --desk2Container1Width: 1031px; /*at a window width 1600*/
  --s1TopMargin: 80px;
  --vBlockWidth: 55px;
  --DIVIDER1HEIGHT: 40px;
  --CYANMARGINWIDTH: 70px;
  --GREYBLOCKWIDTH: 150px;
  --projectCardHeight: 375px;
  --standardMargin: 50px;
  --mobileStandardMargin: 20px;
  --blockSize: 25px;
}
$BPmd: 768px;
$BPlg: 1024px;
$BPxl: 1200px;
$BPsm: 640px;
$projectCardSeparation: 4px;
